@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-project {
    @apply px-5 py-5;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #efefef;
}

/* Page Tela da vaquejada */
#more {
  display: none;
}
/* div do button avançar Page buy-ticket */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
.animate-slide-down {
  animation: slideDown 0.5s ease-out forwards;
}
